@model IEnumerable<LibraryWebApp.Models.Catalogue>
@using LibraryWebApp.common;
@{
    ViewData["Title"] = "Catalogue";
}
<nav class="navbar navbar-expand-sm bg-dark top-bar fixed-top">
    <div class="d-sm-inline-flex">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Home/Catalogue">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Login/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ContactUs</a>
            </li>
        </ul>
    </div>
</nav>


<h1>Catalogue</h1>


 @using (Html.BeginForm("catalogue","Home",FormMethod.Get) )
 {
         @Html.TextBox("cmedianame")<input type="submit" value="Search"/>
         
<table class="table">
    <thead>
        <tr>
           <!-- <th>
                @Html.DisplayNameFor(model=>model.mediaid)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.mediacheck)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.medianame)
            </th>
           <!-- <th>
                @Html.DisplayNameFor(model => model.mediatype)
            </th>-->
           <!-- <th>
                @Html.DisplayNameFor(model => model.mediagenre)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.mediaauthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberofcopies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



@foreach (var item in Model) 
{
    <tr>
        <!--  <td>
                <input type="checkbox" data-val="true" id="chk@item.mediaid" name="mediacheck" value="true">
                     <input name="mediacheck" type="hidden" value="false"> 
                      @Html.CheckBoxFor(modelItem=>item.mediacheck) 
                              
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.mediaid)
            </td>-->
            <td>
                 @Html.DisplayFor(modelItem => item.medianame)
            </td>
              
            <!-- <td>
                @Html.DisplayFor(modelItem => item.mediatype)
             </td>
            <td>
               @Html.DisplayFor(modelItem => item.mediagenre)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.mediaauthor)
             
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberofcopies)
               
            </td>
 

         <td>
                @Html.ActionLink("CheckOut", "Details","MediaCheckout", new { mediaid=item.mediaid }) 
                  
          </td>
        </tr>
       
}
 </tbody>
</table> 

}


